.TodoListItem{
    border: 2px solid black;
    margin: 1rem auto;
    padding: 0 auto;
    display: inline-block;
    width: 100%;
    background-color: rgb(219, 219, 219);
    box-shadow: 5px 5px 5px black;
    transition: .3s all ease-in-out;
    border-radius: 5px;
    padding: .2rem;
}
.TodoListItem:hover{
    background-color: rgb(212, 208, 208);
    transform: scale(1.01);
}

.TodoListItem__acoes{
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}